import React, { FC } from 'react';

type {{pascalCase name}}Props = {
  tmp?: string;
};

export const {{pascalCase name}}: FC<Readonly<{{pascalCase name}}Props>> = ({ tmp }) => {
  return (
    <div>
      Component
    </div>
  )
};
